<html>
    <head>
        <title>snoowrap</title>
    </head>
    <body>
        <form method="GET" action="/top/">
            <input type="text" name="subreddit" />
            <select>
                <option value="all">all</option>
                <option value="year">year</option>
                <option value="month">month</option>
                <option value="week">week</option>
                <option value="day">day</option>
                <option value="hour">hour</option>
            </select>
            <input type="submit" />
        </form>
    </body>
</html>