<html ng-app="TestApp">
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <title>snoowrap</title>
    </head>
    <body ng-controller="MainController as vm">
        <form method="GET" action="/results">
            <label for="subreddit">What subreddit would you like to look at?</label>
            <input type="text" id="subreddit" name="subreddit" value="<%= qs.subreddit %>" />
            <br/>

            <label for="time">Select a timespan.</label>
            <select id="time" name="time">
                <option ng-repeat="time in vm.timespan" value="{{time}}">{{time}}</option>
            </select>
            <br/>

            <label for="number">How many posts?</label>
            <input type="number" name="number" max="1000" value="<%= qs.number %>"/>
            <br/>
            
            <input type="submit" />
        </form>
        <script>
            var timespan = <%- JSON.stringify(timespan) %>;
        </script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>