<html>
    <head>
        <title>snoowrap</title>
    </head>
    <body>
        <form method="POST" action="/">
            <input type="text" id="subreddit" name="subreddit" value="<%= qs.subreddit %>" />
            <select id="time" name="time">
                <option value="all">all</option>
                <option value="year">year</option>
                <option value="month">month</option>
                <option value="week">week</option>
                <option value="day">day</option>
                <option value="hour">hour</option>
            </select>
            <input type="submit" />
        </form>
    </body>
</html>