<html>
    <head>
        <title>snoowrap</title>
    </head>
    <body>
        <form method="GET" action="/results">
            <label for="subreddit">What subreddit would you like to look at?</label>
            <input type="text" id="subreddit" name="subreddit" value="<%= qs.subreddit %>" />
            <br/>

            <label for="time">Select a timespan.</label>
            <select id="time" name="time">
                <option value="all">all</option>
                <option value="year">year</option>
                <option value="month">month</option>
                <option value="week">week</option>
                <option value="day">day</option>
                <option value="hour">hour</option>
            </select>
            <br/>

            <label for="number">How many posts?</label>
            <input type="number" name="number" max="1000" value="<%= qs.number %>"/>
            <br/>
            
            <input type="submit" />
        </form>
    </body>
</html>