<html ng-app="TestApp">
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <title>snoowrap</title>
    </head>
    <body ng-controller="MainController as vm">
        <div id="container">
            <div id="form">
                <p class="title">Condunct a search...</p>
                <form method="GET" action="/results">
                    <div>
                        <input type="text" id="subreddit" name="subreddit" value="<%= qs.subreddit %>" placeholder="subreddit" />
                    </div>
                    
                    <div class="dropdown">
                        <select id="time" name="time">
                            <option selected disabled>timespan</option>
                            <option ng-repeat="time in vm.timespan" value="{{time}}">{{time}}</option>
                        </select>
                    </div>
        
                    <div>
                        <input type="number" name="number" min = "1" max="1000" value="<%= qs.number %>" placeholder="#posts" />
                    </div>
                    
                    <div>
                        <button type="submit" class="submitButton">Search</button>
                    </div>
                </form>
            </div>
            <script>
                var timespan = <%- JSON.stringify(timespan) %>;
            </script>
            <script src="/assets/js/app.js"></script>
        </div>
    </body>
</html>