<html ng-app="TestApp">
    <head>
        <link href="/assets/index.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>snoowrap</title>
    </head>
    <body ng-controller="MainController as vm">
        <div id="container">
            <div id="form">
                <p class="title">Conduct a search...</p>
				<p>You can search for multiple subreddits by separating them with a comma. Or type in "all" to retrieve a stream of every post.</p>
                <form method="GET" action="/results" target="_blank">
                    <div>
                        <input type="text" id="subreddit" name="subreddit" value="<%= qs.subreddit %>" placeholder="enter subreddit(s)" required/>
                    </div>

                    <div>
                        <span ng-repeat="sort in vm.sortOptions">
                            <input type="radio" name="sort" value="{{sort}}" id="{{sort}}" required>
                            <label for="{{sort}}">{{sort}}</label>
                        </span>
                    </div>
                    
                    <div class="timespan" id="timespan" hidden>
                        <select id="time" name="time" required>
                            <option selected disabled value="">select a timespan</option>
                            <option ng-repeat="time in vm.timespan" value="{{time}}">{{time}}</option>
                        </select>
                    </div>

                    <div class="showstickied" id="showstickied" hidden>
                            <input type="radio" name="sticky" value="yes" id="yes" required>
                            <label for="yes">show stickied</label>
                            <input type="radio" name="sticky" value="no" id="no" required>
                            <label for="no">don't show stickied</label>
                    </div>
        
                    <div>
                        <input type="number" name="number" min = "1" max="1000" value="<%= qs.number %>" placeholder="enter the number of posts desired" required/>
                    </div>
                    
                    <div>
                        <button type="submit" class="submitButton">Search</button>
                    </div>
                </form>
            </div>
            <script>
                var sortOptions = <%- JSON.stringify(sortOptions) %>;
                var timespan = <%- JSON.stringify(timespan) %>;
            </script>
            <script src="/assets/js/app.js"></script>
            <script src="/assets/js/index.js"></script>
        </div>
    </body>
</html>