<html ng-app="TestApp">
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <title>snoowrap</title>
    </head>
    <body ng-controller="MainController as vm">
        <p id="intro">You are currently viewing the top /r/<%= data.subreddit %> posts
            <% if (data.time == "all") { %>
                of all time.
            <% } else { %>
                from the past <%= data.time %>.
            <% } %>
        </p>
        <ol>
            <li ng-repeat="post in vm.redditPosts.fulfillmentValue">+{{post.ups}}. {{post.title}}<br/> Posted by {{post.author}}.</li>
        </ol>
        <script>
            var redditPosts = <%- JSON.stringify(redditPosts) %>;
        </script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>