<html ng-app="TestApp">
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <title>snoowrap</title>
    </head>
    <body ng-controller="PostController as vm">
        <p id="intro">You are currently viewing the top /r/<%= qs.subreddit %> posts
            <% if (qs.time == "all") { %>
                of all time.
            <% } else { %>
                from the past <%= qs.time %>.
            <% } %>
        </p>
        <ol>
            <li class="listitem" ng-repeat="post in vm.redditPosts.fulfillmentValue">+{{post.ups}}. <a href="https://old.reddit.com{{post.permalink}}?sort=top" target="_blank">{{post.title}}</a>
            <br/>
            Posted by {{post.author}} on {{ post.created_utc * 1000 | date: 'medium' }}.</li>
        </ol>
        <script>
            var redditPosts = <%- JSON.stringify(redditPosts) %>;
        </script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>